.showcase {
    width: 100%;
    height: 300px;
    
    background: #000 url("../public/images/showcase.jpg") no-repeat center center;
    color: white;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.showcase * {
    z-index: 22;
    margin-bottom: 0;
}